<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cleaning</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'web/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/fontawesome.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light text-uppercase font-weight-bold fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html"><img width="75" src="{% static 'web/imgs/logo.jpg' %}"
                    alt="/" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#show-menu"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="show-menu">
                <ul class="navbar-nav ml-auto">
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#home">Indexseite <span class="sr-only">(current)</span></a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="#about">Über uns</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Leistungen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#team">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#company">Unternehmen</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="text-uppercase" id="home">
        <div class="row" style="background-image: url({% static 'web/imgs/header-ai.jpg' %});">
            <div class="col-xl-5 col-lg-12">
                <p><span>Glanz Fix</span> <br> Klare Sicht, Perfekter Glanz</p>

            </div>
            <div class="col-xl-7 col-lg-12">
                <div class="white-overlay d-flex align-items-center">
                    <!-- <button><a href="#contact" class="text-uppercase">contact now</a></button> -->
                </div>
            </div>
        </div>
    </header>
    <div class="background" style="background-image: url({% static 'web/imgs/logo.jpg' %});"></div><!--  -->
    <div class="about-us">
        <div class="container">
            <h2 id="about" class="text-uppercase">Über uns<span></span></h2>

            <div class="row">
                <div class="col-lg-7 col-12 d-flex">
                    <p>Glanz Fix ist Ihr zuverlässiger Partner für professionelle Glas- und Fensterreinigung. Wir sorgen
                        mit höchster Sorgfalt und modernen Reinigungstechniken für streifenfreien Glanz – ob in privaten
                        Haushalten oder Geschäftsräumen. Unser Anspruch ist es, Qualität, Zuverlässigkeit und
                        Kundenzufriedenheit in den Mittelpunkt zu stellen.
                        Mit unserer Erfahrung und einem Auge fürs Detail garantieren wir eine gründliche und schonende
                        Reinigung aller Glasflächen. Dabei setzen wir auf umweltfreundliche Reinigungsmittel und
                        effiziente Methoden, um beste Ergebnisse zu erzielen. Ihre Zufriedenheit ist unser Erfolg –
                        lassen Sie Ihre Glasflächen mit Glanz Fix in neuem Licht erstrahlen.</p>
                </div>
                <div class="col-lg-5 col-12">
                    <div class="blue-shadow"></div>
                    <img src="{% static 'web/imgs/about-us-ai.jpg' %}" width="90%">
                </div>
            </div>
        </div>
    </div>

    <div class="services text-center">
        <div class="container">
            <h2 class="text-uppercase" id="services">Unsere Leistungen<span></span></h2>
            <!-- <p>Typesetting industry lorem Ipsum is simply dummy text of the </p> -->
            <div class="row d-flex align-items-stretch">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="item">
                        <i class="fas fa-stopwatch fa-3x"></i>
                        <h4><a href="/">Schneller Service</a></h4>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="item">
                        <i class="fas fa-money-check-alt fa-3x"></i>
                        <h4><a href="/">Sichere Zahlungen</a></h4>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="item">
                        <i class="fas fa-users fa-3x"></i>
                        <h4><a href="/">Expertenteam</a></h4>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="item">
                        <i class="fas fa-suitcase fa-3x"></i>
                        <h4><a href="/">Erschwingliche Dienstleistungen</a></h4>
                    </div>
                </div>


                <div class="rectangle"></div>
            </div>
        </div>
    </div>

    <div class="what-we-do" id="team">
        <div class="container">

            <h2 class="text-uppercase">Warum <span>Sie sich für uns entscheiden sollten:</span></h2>
            <p>
                <ul>
                    <li><span>Verpflichtung zur Servicequalität:</span> Wir setzen auf umweltfreundliche Produkte und gewährleisten die
                        Einhaltung europäischer Standards.</li>
                        <li>
                           <span> Wettbewerbsfähige Preise:</span> Profitieren Sie von hervorragendem Service zu besten Preisen, individuell auf
                    Ihre Bedürfnisse abgestimmt.
                        </li>
                        <li>
                           <span> Maßgeschneiderte Dienstleistungen:</span> Wir bieten flexible Reinigungspläne, die perfekt auf Ihre
                    Anforderungen zugeschnitten sind.
                        </li>
                        <li>
                            <span>Langjährige Erfahrung:</span> Mit unserer langjährigen Expertise in der Branche garantieren wir Ihnen
                            zuverlässige, professionelle Dienstleistungen, die selbst höchsten Ansprüchen gerecht werden
                        </li>
                </ul>
            </p>
            <div class="img" style="background-image: url({% static 'web/imgs/about-us-ai-2.jpg' %});"></div>
            <!-- <div class="start-button text-center">
                <i class="fas fa-play"></i>
            </div> -->
        </div>
    </div>

    <div class="prices">
        <div class="container">
            <div id="company"></div>
            <h2 class="text-center text-uppercase">Unsere Dienstleistung<span></span></h2>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="item f-item active">
                        <div>
                            <h5>Schaufenster</h5>
                        </div>
                        <div>
                            <ul>
                                <li>Reinigung der Schaufenster von Geschäften (Fläche von 1-7 m <sup>2</sup>)</li>
                                <li> Einmal im Monat: 55€
                                </li>
                                <li>Zweimal im Monat: 45€
                                </li>
                                <li>Dreimal oder mehr: 35€</li>
                                <li>Zusätzliche Dienstleistung: Erste Bodenreinigung kostenlos.
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="item active">
                        <div>
                            <h5>Restaurants</h5>
                        </div>
                        <div>
                            <ul>
                                <li>Professionelle Reinigung für Restaurants (bis 65 m <sup>2</sup>) – Boden, Wände &
                                    Küchengeräte – Hygienestandards garantiert</li>
                                <li> Umfassende Reinigung von Boden, Wänden und Küchengeräten (Backofen, Gasherd, etc.) für nur 375€
                                </li>
                                <li>Gewährleistung der Einhaltung europäischer Hygienestandards
                                </li>
                                <li>
                                    Verwendung umweltfreundlicher Reinigungsmittel garantiert
                                </li>
                                <li>Gültig für Restaurants bis 65
                                    m<sup>2</sup>.
                                </li>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <div class="item active">
                        <div>
                            <h5>Salons</h5>
                            
                        </div>
                        <div>
                            <span>Reinigung von Mode-, Parfüm- und Friseursalons:</span>
                            <ul>
                                <li>Preisspanne: 100€ - 275€</li>
                                <li>Der Preis hängt von der Größe des Geschäfts ab.
                                </li>
                            </ul>
                            <span>Die Leistungen beinhalten:</span>
                            <ul>
                                <li>Reinigung des Bodens (Porzellan oder Holz). </li>
                                <li>Reinigung der Spiegel und Ausstellungsflächen. </li>
                                <li>Reinigung der Außenfassade des Geschäfts, um Kunden anzulocken.</li>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="item active">
                        <div>
                            <h5>Angebote und Rabatte</h5>

                        </div>
                        <div>
                            <ul>
                                <li>Wir bieten attraktive Rabatte für Verträge, die länger als 6 Monate laufen.
                                </li>
                                <li>Zögern Sie nicht, uns für weitere Informationen oder maßgeschneiderte Angebote zu
                                    kontaktieren. Wir freuen uns auf neue Herausforderungen im Bereich der
                                    Dienstleistung für Sauberkeit und stehen Ihnen gerne zur Verfügung
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact" id="contact">
        <h2></h2>

        <div class="container">
            <div class="contact-form">
                <h1>Kontakt und Buchung:</h1>
                <h3>Haben Sie Fragen? Kontaktieren Sie uns gerne oder senden Sie eine Anfrage über unsere Website. Wir
                    stehen Ihnen zur Verfügung, um Ihre Wünsche zu erfüllen.
                </h3>
                <form> <!--  action="{% url 'send_email' %}" -->
                    {% csrf_token %}
                    <input type="text" name="name" placeholder="Your name">
                    <input type="text" name="phone" placeholder="Phone number">
                    <!-- <input type="text" name="service" placeholder="Select service"> -->
                    <input type="email" name="email" placeholder="Email">
                    <textarea name="message" placeholder="Message"></textarea>
                    <!-- time -->
                    <div class="container py-5">

                        <h3 class="mb-4">Buchen Sie Ihren Termin ganz einfach über unsere Website!</h3>

                        <!-- Calendar Element -->
                        <div class="mb-3">
                            <label for="date" class="form-label">Wählen Sie ein Datum:
                            </label>
                            <input type="date" id="date" name="date" class="form-control">
                        </div>

                        <!-- Button to Fetch Times -->
                        <button id="fetchTimes" class="btn btn-primary">Verfügbare Zeiten anzeigen</button>

                        <!-- Display Available Times -->
                        <hr>
                        <div id="timesContainer" class="btn-group" role="group"></div>
                        <hr>
                        <button id="reserve" class="btn btn-primary">Senden</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer>
        <div class="main-part">
            <div class="container">
                <div class="d-flex justify-content-between text-uppercase">
                    <ul>
                        <li class="right"><img width="75" src="{% static 'web/imgs/logo.jpg' %}" alt="/" /></li> <!--class="hide-on-medium-small"-->
                        <!-- <li><a href="#home">Indexseite</a></li> -->
                        <li><a href="#about">Über uns</a></li>
                        <li><a href="#services">Leistungen</a></li>
                        <li><a href="#team">team</a></li>
                        <li><a href="#company">Unternehmen</a></li>
                    </ul>

                <!-- <div class="text-center">
                    <form>
                        <label>
                            News letter
                            <input type="text" placeholder="Your email">
                            <input type="submit" value="Subscribe">
                        </label>
                    </form>
                </div> -->
            </div>
        </div>
        <div class="main-part">
            <div class="container">
                <div class="d-flex justify-content-between text-uppercase">
                    <ul>
                        <li class="right">Glanz Fix</li>
                        <li><i class="fas fa-phone"></i> (+49) 15757809132</li>
                        <li><i class="fas fa-envelope"></i> <a href="mailto:info@glanzfix.com">info@glanzfix.com</a></li>
                        <li><i class="fas fa-map-marker-alt"></i> Altenbrückstraße 12, 40599 Düsseldorf</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main-part">
            <div id="media" class="container">
                <div class="d-flex text-uppercase">
                    <ul>
                        <li><a href="/"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="/"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="/"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="/"><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright text-center">
            <p>Copyright © All rights reserved</p>
        </div>
    </footer>
    <script src="{% static 'web/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'web/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'web/js/script.js' %}"></script>
</body>

</html>